server:
  port: 9191


spring:
  h2:
    console:
      enabled: true
  application:
    name: payment-service

  cloud:
    consul:
      host: 127.0.0.1
      port: 8500
      discovery:
        register: true
        service-name: payment-service
        health-check-path: /actuator/health
        enabled: true
        prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.cloud.consul: DEBUG
    com.ecwid.consul: DEBUG